<div class="container">
  <div class="row">
    <div class="mx-auto m-5">
      <h3>hhh<%#= @recipe.title %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 px-sm-0 mx-auto mb-5">
      <p class="text-left">コメント</p>
      <table class="table table-hover">
      <%# @recipe.comments.each do |comment| %>
        <tr>
          <td>df<%#= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
          <td>ee<%#= comment.member.name %></td>
          <td>vv<%#= comment.comment %></td>
          <td>qq<%#= link_to "削除", admin_recipe_comment_path(comment.recipe,comment), remote: true, method: :delete %></td>
        </tr>
      <%# end %>
      </table>
    </div>
  </div>
</div>
