<div class="container">
  <div class="row">
    <div class="mx-auto offset-sm-1">
      <h3 class="m-5">レシピ一覧</h3>
    </div>
  </div>

  <div class="row mt-3 mb-3 justify-content-center">
    <% @recipes.each do |recipe| %>
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card border-0 shadow-sm">
        <%= link_to recipe_path(recipe) do %>
          <div class="img-wrap">
            <%= image_tag recipe.get_image(200, 200), class: "card-img-top img-fluid" %>
          </div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Helvetica Neue', Arial, sans-serif; color: #8B4513;"><%= recipe.title %></h5>
          <p class="card-text"><%= recipe.created_at.strftime('%Y/%m/%d') %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>