<% @genres.each do |genre| %>
  <%= link_to genre.name, genre_search_path(genre) %><br />
<% end %>


<div class="container">
  <div class="row">
    <div class="mx-auto offset-sm-1">
      <h3 class="m-5">レシピ一覧</h3>
    </div>
  </div>
  <%= render 'public/recipes/recipe', recipes: @recipes %>
</div>