<div class="container">
  <div class="row">
    <div class="mx-auto offset-sm-1 text-center">
      <h3 class="m-5">レシピ新規投稿</h3>
    </div>
  </div>
  <!--エラーメッセージ-->
  <div class=" mx-auto text-center">
    <%= render 'layouts/error', object: @recipe %>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-xs-12 mb-5" style="background:#F5DEB3; border-radius: 20px;">
    <%= form_with model: @recipe, url: recipes_path do |f| %>
      <%= render 'public/recipes/recipe_form', f: f %>
    <% end %>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>

<!-- モーダルの記述 -->
<%= render 'public/lists/list_modal', list: @list %>