<div class="row">
  <div class="col m-5">
    <div class="top_top" style="display:flex;">
      <div class="top_image">
        <%= image_tag "top.food2.jpg", size: "770x550" %>
      </div>
      <div class="top_text" style="bottom:100px; right:100px; position:absolute; background-color:rgba(255,255,255,0.5);">
        <h3 class="m-5">Cui Recette</h3>
        <h6 class="m-3 text">感動する料理を提供したい</h6>
        <h6 class="mt-3 mb-5 text">という思いを込めて。</h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col m-5">
    <div class="top_center" style="display:flex; position: relative;">
      <h4 class="center_text" style="position:absolute; bottom:0; left:360px;">師走</h4>
      <div class="center_image">
        <%= image_tag "top.food1.jpg", size: "350x230" %>
      </div>
    </div>
  </div>
  <div class="col m-5" style="position: relative;">
    <div class="top_bottom" style="display:flex;">
      <h4 class="bottom_text" style="position:absolute; bottom:0; left:380px;">神無月</h4>
      <div class="bottom_image">
        <%= image_tag "top.food3.jpg", size: "350x230" %>
      </div>
    </div>
  </div>
</div>


