<div class="container">
  <div class="row">
    <div class="col m-5">
      <div id="top" style="display:flex; display: none;">
        <div class="top_image">
          <%= image_tag "top.food2.jpg", size: "500x500", style: "width:100%; height:auto" %>
        </div>
        <div  class="top_text text-center p-3">
          <h3 class="m-5">Cui Recette</h3>
          <h6 class="m-3">感動する料理を提供したい</h6>
          <h6 class="mt-3 mb-5">という思いを込めて。</h6>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(window).on('load', function() {
    $('#top').slideDown(500);
  });
</script>

