<div class="container">
  <div class="row">
    <div class="col mx-auto offset-sm-1" style="display:flex;">
      <h3 class="m-5"><%= @member.name %> さん</h3>
      <div class="col-3 ml-auto">
      <% if current_member.name != "guestuser" %>
        <% if current_member == @member %>
        <p><%= link_to "登録情報編集", edit_member_registration_path %>
        <% end %>
      <% end %><br>
      <%= link_to "BookMark一覧", member_book_marks_path(@member) %></p>
      </div>
    </div>
  </div>
  <%= render 'public/recipes/recipe', recipes: @recipes %>
</div>