@use '~bootstrap/scss/bootstrap';

// ページネーションのCSS
.pagination>li>a {
  border: none;
  color: #696969;
  background-color: #fbfaf3;
}
.page-item.active .page-link {
  background-color: #B16A11;
}


// スライダーのためのcss
.slider img {
    width: 100%;
    height: auto;
}
// スライド左右の余白調整
.slider .slick-slide {
    margin: 0 10px;
}


// コメントの取り消し線を表示させるCSS
.line-through {
  text-decoration: line-through;
}


// ヘッダーを上部に固定
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* ヘッダーを最前面に表示するための値 */
}
/* メインコンテンツの上部の余白を調整するためのスタイル */
main {
  padding-top: 80px; /* ヘッダーの高さに合わせて調整 */
}


// レシピ画像のサイズ指定
.card-img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}
.recipe-show-img {
  width: 350px;
  height: 240px;
  object-fit: cover;
}


// エラー時にformのレイアウトが崩れないようにする
.field_with_errors {
  display: contents;
}