@use '~bootstrap/scss/bootstrap';

// input[type="text"] {
//         width: 300px;
//         height: 40px;
//     }

// input[type="password"] {
//         width: 300px;
//         height: 40px;
//     }


// ページネーションのCSS
.pagination>li>a {
  border: none; 
  color: #696969;
  background-color: #fbfaf3;
}

.page-item.active .page-link {
  background-color: #B16A11;
}
