<div class="row">
  <div class="col">
    <div class="flash text-right mt-3">
      <%= flash[:notice] %>
    </div>
  </div>
</div>


<script>
  $(function() {
    setTimeout("$('.flash').fadeOut('slow')", 2500);
  });
</script>